<H1>Introduction</H1>
<H2>Définitions</H2>
<p>Il est toujours utile de commencer par s'accorder sur la compréhension des termes utilisés.</p>
<p>Les définitions proposées à suivre sont inspirées du dictionnaire Le Robert.</p>
<H3>Science</H3>
<p>Ensemble de connaissances caractérisées par un domaine et une méthode déterminés, et fondées sur des relations objectives vérifiables.</p>

<H3>Donnée</H3>
<p>Ce qui est connu, déterminé, dans l'énoncé d'un problème, ce qui sert à découvrir ce qui est inconnu.</p>
<p>Ce qui est admis, connu ou reconnu, et qui sert de base à un raisonnement, de point de départ pour une recherche.</p>
<H1>Types de données</H1>
<H2>Notions statistiques</H2>
<p>Une <b>population</b> est un groupe complet d'individus, d'objets ou d'événements partageant une ou plusieurs caractéristiques communes.</p>
<p>Les <b>variables</b> sont des caractéristiques ou des attributs qui varient d'une personne, d'un objet ou d'un événement à l'autre.</p>
<H3>Exemples de variables:</H3>
<H4>Une série de crayons caractérisés par leur couleur:</H4>
<ul>
<li>Un crayon bleu</li>
<li>Un crayon rouge</li>
<li>Un crayon bleu</li>
<li>Un crayon jaune</li>
<li>Un crayon jaune</li>
<li>Un crayon vert</li>
</ul>
<H4>Une série de chaussures caractérisées par leur longueur:</H4>
<ul>
<li>Une chaussure de 30cm</li>
<li>Une chaussure de 25cm</li>
<li>Une chaussure de 32cm</li>
<li>Une chaussure de 31cm</li>
<li>Une chaussure de 31cm</li>
<li>Une chaussure de 35cm</li>
<li>Une chaussure de 32cm</li>
</ul>
<H3>Types de variables</H3>
<p>Plusieurs types de variables sont à distinguer car elle seront l'objet de potentialités et traitements différents.</p>
<p>Une distinction importante est à considérer entre variables catégorielles et quantitatives.</p>
<H2>Variables catégorielles</H2>
<p>Aussi appelées variables qualitatives car elles distinguent une qualité et peuvent proposer des regroupements par catégories appelées <b>classes</b> dans le domaine statistique.
<BR>Dans l'exemple des crayons la qualité est la couleur, flanquée des catégories (bleu, rouge, jaune, vert, etc...).
</p>
<p>Les variables qualitatives sans ordre naturel sont dites <b>nominales</b>. Elles peuvent être dénombrées par catégorie (par exemple 2 crayons jaunes).</p>
<p>Si la qualité est dotée d'une relation d'ordre, la variable est dite <b>ordinale</b>. Cela ouvre à des traitements plus élaborés (notamment dans leurs distributions).</p>
<p>Enfin si le nombre de classes est exactement 2, la variable est dite <b>binaire</b> ce qui ouvre à des potentiels spécifiques (tables de vérités, scores de classification, etc...).</p>
<H2>Variables quantitatives</H2>
<p>Si la caractérisique est mesurable, des agrégations plus sophistiquées peuvent être envisagées.</p>
<p>L'exemple plus haut de la mesure des chaussures est une série de données quantitatives. 32cm est plus grand que 31cm, etc... Des calculs de moyenne, médiane, ou à base d'autres formules statistiques sont envisageable.</p>
<p>NB: Les termes <i>numériques</i> et <i>quantitatifs</i> sont interchangeables ici.</p>
<p>NB: Il est d'usage du point de vue scientifique de distinguer les variables quantitatives selon qu'elles soient <i>continues</i> ou <i>discrètes</i>. De fait le contexte informatique (ici) impose de travailler des variables <b>discrètes</b> et d'oeuvrer en conséquence.</p>
<H3>Attention!</H3>
<p>L'aspect numérique d'une carctéristique n'est pas suffisant pour distinguer du type <i>catégoriel</i> ou <i>quantitatif</i> d'une variable. Il est important de bien comprendre la physionomie des données étudiées et l'exploitation qui en sera faite .</p>
<p><i>Des couleurs codifiées en chiffres restent à caractère qualitatif ; à contrario une notation des copies scolaires de A à E se prêtera aisément à des traitements  quantitatifs.</i></p>
<H1>Connexe</H1>
<H2>Analyse des données</H2>
<p>Les bases de l'Analyse Exploratoire des Données (AED / EDA en anglais) sont présentées dans les sections connaissances dédiés à la science des données.</p>

