<H1>Introduction</H1>
<H2>Contexte</H2>
<p>Le traitement des données informatiques est en constante évolution ces 40 dernières années.</p> 
<p>Les moyens de gestion et d'analyse suivent les transformations des infrastructures dédiées aux données numériques.</p>
<p>Hier les gros systèmes, puis la micro (PC), l'Internet, la démocratisation des smartphones, aujourd'hui les solutions <i>cloud</i> notamment de type SaaS, <i>terraforment</i> un environnement propice à l'éclosion des Intelligences Artificielles.</p>
<p>Les outils informatiques associés sont devenus accessibles au plus grand nombre, certains deviennent culture citoyenne quand d'autres changent la culture entreprenariale.</p>
<p>Dans ce contexte de transformations accèlérées les institutions, états, groupements d'états, peuvent-ils rester dans la course eu égard à l'intrinsèque et néanmoins vertueuse inertie de leurs organes?</p>
<H2>Objectifs</H2>
<p>Il me semble que l'entrepreneur et ses collaborateurs aient en ces temps mieux à parier sur des montées en compétences propres que sur des normalisations et assistances qui viendraient d'un <i>en haut</i> hypothétiquement salvateur.</p>
<p>L'objectif des parties successives est de proposer un point d'entrée, accessible à tout niveau, vers les méthodes et moyens informatiques actuels (2020+) orientés vers la compréhension et l'utilisation des données informatisées.</p>
<p>Les gains attendus peuvent être les suivants:</p>
<ul>
<li>Développer et consolider la vision scientifique des données informatisées.</li>
<li>Etre en mesure d'appréhender le champ des possibles informatiques de l'environnement proche.</li>
<li>Communiquer plus efficacement avec les professionnels et spécialistes qui proposent des services dans les thématiques abordées.</li>
</ul>
<H2>Comment</H2>
<p>L'approche choisie est de mettre en avant l'utile de manière imagée en s'appuyant sur des exemples du quotidien pour faciliter la conceptualisation et se cultiver dans un cadre si possible ludique.</p>

<p>Le challenge dans ce contexte de vulgarisation restera de respecter aux mieux les sciences sous-jacentes (logique, statistiques, probabilités, mathématiques, etc...)</p>
<p>Ce chapitre est organisée autour de la science des données dans ses applications informatiques aisément accessibles ; transversal à plusieurs sciences, seuls les aspects ici utiles de chacune seront abordés.</p>
<p>Le panel des connaissances proposées est donc de fait scientifiquement incomplet et tronqué. Dans le doute ou avant d'engager des actions pouvant porter à conséquence il est responsable de confronter le projet aux expertises des professionnels compétents dans les domaines concernés.</p>
<H2>Infos</H2>
<H3>Rappels</H3>
<p><i>Les approches académiques sont évidemment accessibles sur l'Internet qui fut un jour, notamment, souvenons-nous en, terre des universités.</i></p>
<H3>Abréviations</H3>
<p>NB: Nota Bene ; Notez Bien</p>
<H3>Frontières</H3>
<p>Les données sont considérées ici digitalisées dans une forme aisée à traiter par les outils informatiques usuels (non analogiques, non quantiques, etc...). La transition avec les mondes analogiques est considérée assumée par des électroniques dédiées et les interactions réduites à la partie digitale de ces électroniques.</p>
<H1>Définitions</H1>
<p>Il est toujours utile de commencer par s'accorder sur la compréhension des termes utilisés.</p>
<p>Les définitions proposées à suivre sont inspirées du dictionnaire Le Robert.</p>
<H2>Science</H2>
<p>Ensemble de connaissances caractérisées par un domaine et une méthode déterminés, et fondées sur des relations objectives vérifiables.</p>

<H2>Donnée</H2>
<p>Ce qui est connu, déterminé, dans l'énoncé d'un problème, ce qui sert à découvrir ce qui est inconnu.<p>
<p>Ce qui est admis, connu ou reconnu, et qui sert de base à un raisonnement, de point de départ pour une recherche.<p>
<H1>Types de données</H1>
<H2>Considérations</H2>
<p>Les données seront par ailleurs considérées organisées en séries homogènes selon une propriété commune et qualifiées en conséquence. Le terme <b>variable</b> usuel en statistique est retenu pour nommer ces séries.</p>
<H3>Exemples de variables:</H3>
<H4>Une série de crayons qualifiés par leur couleur:</H4>
<ul>
<li>Un crayon bleu</li>
<li>Un crayon rouge</li>
<li>Un crayon bleu</li>
<li>Un crayon jaune</li>
<li>Un crayon jaune</li>
<li>Un crayon vert</li>
</ul>
<H4>Une série de chaussures qualifiées par leur longueur:</H4>
<ul>
<li>Une chaussure de 30cm</li>
<li>Une chaussure de 25cm</li>
<li>Une chaussure de 32cm</li>
<li>Une chaussure de 31cm</li>
<li>Une chaussure de 31cm</li>
<li>Une chaussure de 35cm</li>
<li>Une chaussure de 32cm</li>
</ul>
<H2>Qualification</H2>
<p>Plusieurs types de variables sont à distinguer car elle seront l'objet de potentialités et traitements différents.</p>
<p>Une distinction importante à considérer entre variables catégorielles et quantitatives.</p> 
<H3>Variables catégorielles</H3>
<p>Aussi appelées variables qualitatives car elles distinguent une qualité et peuvent proposer des regroupements par catégories appelées <b>classes</b> dans le domaine statistique.
<BR>Dans l'exemple des crayons la qualité est la couleur, flanquée des catégories (bleu, rouge, jaune, vert, etc...). 
</p>
<p>Les variables qualitatives sans ordre naturel sont dites <b>nominales</b>. Elles peuvent être dénombrées par catégorie (par exemple 2 crayons jaunes).</p>
<p>Si la qualité est dotée d'une relation d'ordre, la variable est dite <b>ordinale</b>. Cela ouvre à des traitements plus élaborés (notamment dans leurs distributions).</p>
<p>Enfin si le nombre de classes est exactement 2, la variable est dite <b>binaire</b> ce qui ouvre à des potentiels spécifiques (tables de vérités, scores de classification, etc...).
<H3>Variables quantitatives</H3>
<p>Si la qualité est mesurable, des agrégations plus sophistiquées peuvent être envisagées.</p>
<p>L'exemple plus haut de la mesure des chaussures est une série de données quantitatives. 32cm est plus grand que 31cm, etc... Des calculs de moyenne, médiane, ou à base d'autres formules statistiques sont envisageable.</p> 
<p>NB: Les termes <i>numériques</i> et <i>quantitatifs</i> sont interchangeables ici.</p>
<p>NB: Il est d'usage du point de vue scientifique de distinguer les variables quantitatives selon qu'elles soient <i>continues</i> ou <i>discrètes</i>. De fait le contexte informatique (ici) nous impose de travailler des variables <b>discrètes</b> et d'oeuvrer en conséquence.</p>
<H3>Attention!</H3>
<p>L'aspect numérique d'une qualité n'est pas suffisant pour distinguer du caractère <i>catégoriel</i> ou <i>quantitatif</i> d'une variable. Il est important de bien comprendre la physionomie des données étudiées.</p>
<p><i>des couleurs codifiées en chiffres restent à caractère qualitatif ; à contrario une notation des copies scolaires de A à E se prêtera aisément à des traitements  quantitatifs.</i></p>
<H1>Connexe</H1>
<H2>Analyse des données</H2>
<p>Les bases de l'Analyse Exploratoire des Données (AED / EDA en anglais) sont présentées dans les chapitres à suivre.</p>
<H2> </H2>
