<H1>Introduction</H1>
<H2>Contexte</H2>
<p>Dans un contexte de numérisation accélérée des informations qui nous entourent, le traitement informatique des données devient un enjeu pour la majorité des acteurs de l'économie.</p> 
<p>Les méthodes de gestion et d'analyse des données évoluent de concert avec les transformations des infrastructures des sociétés "informatisées" (en parallèle à industrialisées).</p>
<p>Les outils informatiques associés sont devenus accessibles au plus grand nombre, certains deviennent culture citoyenne quand d'autres changent la culture entreprenariale.</p>
<p>Dans ce contexte de transformations accèlérées les institutions, états, groupements d'états, peuvent-ils rester dans la course eu égard à l'intrinsèque et néanmoins vertueuse inertie de leurs organes?</p>
<H2>Objectifs</H2>
<p>Il me semble que l'entrepreneur et ses collaborateurs aient en ces temps mieux à parier sur des montés en compétences propres que sur des normalisations et assistances qui viendraient d'<i>en haut</i>...</p>
<p>L'objectif des chapitres à suivre est de proposer un point d'entrée, accessible à tout niveau, vers les méthodes et moyens informatiques actuels (2020+) orientés vers la compréhension et l'utilisation des données informatisées.</p>
<H2>Comment</H2>
<p>L'approche choisie est de mettre en avant l'utile de manière imagée en s'appuyant sur des exemples du quotidien pour faciliter la conceptualisation et se cultiver dans un cadre si possible ludique.</p>

<p>Le challenge dans ce contexte de vulgarisation restera de respecter aux mieux les sciences sous-jacentes (logique, statistiques, probabilités, mathématiques, etc...)</p>
<p><i>Rappel: Les approches académiques sont évidemment accessibles sur l'Internet qui fut un jour, notamment, souvenons-nous en, terre des universités.</i></p>
<H1>Définition</H1>
<p>Il est toujours important de s'accorder sur les termes utilisés.</p>
<p>Les définitions proposées à suivre sont inspirées du dictionnaire Le Robert.</p>
<H2>Science</H2>
<p>Ensemble de connaissances caractérisées par un domaine et une méthode déterminés, et fondées sur des relations objectives vérifiables.</p>

<H2>Donnée</H2>
<p>Ce qui est connu, déterminé, dans l'énoncé d'un problème, ce qui sert à découvrir ce qui est inconnu.<p>
<p>Ce qui est admis, connu ou reconnu, et qui sert de base à un raisonnement, de point de départ pour une recherche.<p>
<H1>Types de données</H1>
<H2>Considérations</H2>
<p>Les données sont considérées ici digitalisées sous une forme aisée à traiter par les outils informatiques usuels (non analogiques, non quantiques, etc...). La transition avec les mondes analogiques est considérée assumée par des électroniques dédiées et les interactions réduites à la partie digitale de ces électroniques.</p>
<p>Les données seront par ailleurs considérées organisées en séries homogènes selon une propriété commune et qualifiées en conséquence. Le terme de variable est usuellement utilisé en statistique.</p>
<H3>Exemples de variables:</H3>
<H4>Une série de crayons qualifiés par leur couleur:</H4>
<li>Un crayon bleu</li>
<li>Un crayon rouge</li>
<li>Un crayon bleu</li>
<li>Un crayon jaune</li>
<li>Un crayon jaune</li>
<li>Un crayon vert</li>
<H4>Une série de chaussures qualifiées par leur longueur:</H4>
<li>Une chaussure de 30cm</li>
<li>Une chaussure de 25cm</li>
<li>Une chaussure de 32cm</li>
<li>Une chaussure de 31cm</li>
<li>Une chaussure de 31cm</li>
<li>Une chaussure de 35cm</li>
<li>Une chaussure de 32cm</li>
<H2>Qualification</H2>
<p>Une distinction importante à considérer entre variables catégoriques et quantitatives:</p> 
<H3>Variables catégoriques</H3>
<H4>Nominale</H4>
<p>Les données à caractère qualitatif sans ordre naturel ont dites <i>nominales</i> et proposent un potentiel de traitement limité.</p>
<p>Ceci étant, elles peuvent être dénombrées (par exemple 2 crayons jaunes) ce qui ouvre déjà à un panel intéressant de traitements, notamment dans leurs distributions.</p>
<H4>Ordinale</H4>
<p>Si la qualification est dotée d'une relation d'ordre, on parle de variable ordinale.</p>
<H3>Variables quantitatives</H3>
<p>Si la qualification est mesurable des agrégations plus sophistiquées peuvent être envisagées.</p>
<p>L'exemple plus haut de la mesure des chaussures est une série de données quantitatives. 32cm est plus grand que 31cm, etc... Des calculs de moyenne, médiane, ou à base d'autres formules statistiques sont envisageable.</p> 
<p>Les termes <i>numériques</i> et <i>quantitatifs</i> sont interchangeables ici.</p>
<H3>Attention</H3>
<p>L'aspect numérique d'une qualification n'est pas suffisant pour distinguer du caractère qualitatif ou quantitatif d'une série. Il est important de bien comprendre la physionomie des données étudiées.</p>
<p><i>des couleurs codifiées en chiffres restent à caractère qualitatif ; à contrario une notation des copies scolaires de A à E se prête aisément à des traitements  quantitatifs.</i></p>
<H1>Connexe</H1>
<H2>Analyse des données</H2>
<p>Les bases de l'Analyse Exploratoire des Données (AED / EDA en anglais) sont présentées dans les chapitres à suivre.</p>
<H2> </H2>
