<H1>Distributions</H1>
<H2>MATHJAX example</H2>
<div class="mathjax" [mathjax]="content"></div> 
<H1>Ensemble de données</H1>
<H2>Quantification</H2>
Ici des données quantifiés par une mesure.
<H3>Par exemple</H3>
<li>Des carottes mesurées par leur longueur</li>
<li>Des gens mesurés par leur revenu mensuel</li>
<li>Des gens mesurés par leur âge</li>
<H2>Découpe</H2>
<H3>Par dénombrement (Quantiles / qcut)</H3>
<li>Médiane</li>
<li>Quartiles</li>
<li>Déciles</li>
<li>Centiles</li>
<H3>A interval constant (cut)</H3>
Pyramide des âges
<div class="graph">
<ngx-charts-bar-horizontal 
	[results]="A_bars"
	[xAxisLabel]="'Fréquence'"
	[legendTitle]="legendTitle"
	[yAxisLabel]="'Sujet'"
	[legend]="true"
	[showXAxisLabel]="true"
	[showYAxisLabel]="true"
	[xAxis]="true"
	[yAxis]="true"
	[gradient]="true">
</ngx-charts-bar-horizontal>
</div>
