<H2>distributions works!</H2>
<!--
<H3>Bar chart</H3>
<div>
<ngx-charts-bar-horizontal 
	[results]="ngxCount"
	[xAxisLabel]="'Fréquence'"
	[legendTitle]="legendTitle"
	[yAxisLabel]="'Réponse'"
	[legend]="true"
	[showXAxisLabel]="true"
	[showYAxisLabel]="true"
	[xAxis]="true"
	[yAxis]="true"
	[gradient]="true">
</ngx-charts-bar-horizontal>
</div>
-->
<H3>combo chart</H3>
<div class="graph">

<app-custom-bar
	[results]="bars"
	[lineChart]="lines"
	[scheme]="comboBarScheme"
	[animations]="true"
	[colorSchemeLine]="lineChartScheme"
	[tooltipDisabled]="false"
	[legend]="true"
	[xAxis]="true"
	[yAxis]="true"
	[legend]="true"
	[legendTitle]="legendTitle"
	[legendPosition]="legendPosition"
	[showGridLines]="true"
	[showXAxisLabel]="true"
	[showYAxisLabel]="true"
	[xAxisLabel]="xAxisLabel"
	[yAxisLabel]="yAxisLabel"
	[yAxisLabelRight]="yAxisLabelRight"
	[noBarWhenZero]="true"
	[gradient]="true"


	(select)="onSelect($event)"
>
</app-custom-bar>
</div>
<H3>NEXT</H3>
<!--
<app-custom-bar
	[view]="view"
	[scheme]="comboBarScheme"
	[colorSchemeLine]="lineChartScheme"
	[results]="barChart"
	[animations]="animations"
	[lineChart]="lineChartSeries"
	[tooltipDisabled]="tooltipDisabled"
	[yAxisTickFormatting]="yLeftTickFormat"
	[yLeftAxisScaleFactor]="yLeftAxisScale"
	[yRightAxisScaleFactor]="yRightAxisScale"
	[yRightAxisTickFormatting]="yRightTickFormat"
	[gradient]="gradient"
	[xAxis]="showXAxis"
	[yAxis]="showYAxis"
	[legend]="showLegend"
	[legendTitle]="legendTitle"
	[legendPosition]="legendPosition"
	[showGridLines]="showGridLines"
	[showXAxisLabel]="showXAxisLabel"
	[showYAxisLabel]="showYAxisLabel"
	[showRightYAxisLabel]="showYAxisLabel"
	[xAxisLabel]="xAxisLabel"
	[yAxisLabel]="yAxisLabel"
	[yAxisLabelRight]="yAxisLabelRight"
	[noBarWhenZero]="noBarWhenZero"
	(select)="onSelect($event)"
>
</app-custom-bar>
-->
