$st4rsend-light-background: (
    50 : #f3eef3,
    100 : #e2d4e2,
    200 : #ceb8ce,
    300 : #ba9bba,
    400 : #ac85ac,
    500 : #9d709d,
    600 : #956895,
    700 : #8b5d8b,
    800 : #815381,
    900 : #6f416f,
    A100 : #ffc8ff,
    A200 : #ff95ff,
    A400 : #ff62ff,
    A700 : #ff48ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$st4rsend-light-foreground: (
    50 : #eee7ee,
    100 : #d5c2d5,
    200 : #b999b9,
    300 : #9d709d,
    400 : #885288,
    500 : #733373,
    600 : #6b2e6b,
    700 : #602760,
    800 : #562056,
    900 : #431443,
    A100 : #ff80ff,
    A200 : #ff4dff,
    A400 : #ff1aff,
    A700 : #ff01ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,)
);
$st4rsend-light-primary: (
    50 : #f8eff4,
    100 : #edd7e3,
    200 : #e1bdd0,
    300 : #d4a3bd,
    400 : #cb8fae,
    500 : #c27ba0,
    600 : #bc7398,
    700 : #b4688e,
    800 : #ac5e84,
    900 : #9f4b73,
    A100 : #fffcfd,
    A200 : #ffc9e2,
    A400 : #ff96c7,
    A700 : #ff7cb9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

