$st4rsend-dark-background: (
    50 : #e1e2e1,
    100 : #b4b7b3,
    200 : #838780,
    300 : #51574d,
    400 : #2b3327,
    500 : #060f01,
    600 : #050d01,
    700 : #040b01,
    800 : #030801,
    900 : #020400,
    A100 : #a6a6a6,
    A200 : #8c8c8c,
    A400 : #737373,
    A700 : #666666,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
$st4rsend-dark-foreground: (
    50 : #e5f3e5,
    100 : #bfe1bf,
    200 : #95ce94,
    300 : #6aba69,
    400 : #4aab48,
    500 : #2a9c28,
    600 : #259424,
    700 : #1f8a1e,
    800 : #198018,
    900 : #0f6e0f,
    A100 : #a2ffa2,
    A200 : #6fff6f,
    A400 : #3cff3c,
    A700 : #23ff23,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
	)
);
$st4rsend-dark-primary: (
    50 : #e9eeed,
    100 : #c7d5d3,
    200 : #a2b9b6,
    300 : #7c9c98,
    400 : #608782,
    500 : #44726c,
    600 : #3e6a64,
    700 : #355f59,
    800 : #2d554f,
    900 : #1f423d,
    A100 : #86ffec,
    A200 : #53ffe4,
    A400 : #20ffdc,
    A700 : #07ffd8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

