/* You can add global styles to this file, and also import other style files */
//@use 'cards'
//@import 'variables'
//@import '../../st4rsend.sass'

//@use '@angular/material' as mat
//@import 'src/st4rsend-light-theme.sass'

html
	height: 100%

body
	height: 100%
	margin: 0
	padding: 0
	display: block
	font-family:  Roboto, Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
	font-size: 1.3rem
	box-sizing: border-box
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	
p
	text-indent: 2rem
	margin-block-start: .5rem
	margin-block-end: .5rem
	text-align: justify
p+p
	text-indent: 2rem
	margin-block-start: 0

ul
	margin-block-start: .5rem
	margin-left: 3rem
	margin-block-end: 1rem

H1
	border-radius: 12px
	font-size: 2rem
	letter-spacing: .1rem
	padding-left: 1rem
	padding-right: 8rem
	padding-top: .5rem
	padding-bottom: .5rem
	margin-block-end: 1rem
	text-align: left

H2
	font-size: 1.7rem
	text-indent: 1rem
	margin-block-start: 0
	margin-block-end: .5rem
	font-weight: normal
	text-align: left

H3
	font-size: 1.5rem
	font-style: italic
	font-weight: normal
	margin-block-start: 1rem
	margin-block-end: 0
	text-indent: 4rem
	text-align: left

H4
	margin-block-start: .5rem
	margin-block-end: 0
	font-weight: bold
	text-indent: 3rem
	text-align: left

